<div class="footer bg-color">
  <div class="footer-main">
    <div class="link">
      <a href="mailto:shellduan@gmail.com">
        <i class="fa fa-envelope-o" aria-hidden="false"></i>
      </a>
      <a href="/atom.xml" target="_blank">
        <i class="fa fa-rss" aria-hidden="false"></i>
      </a>
    </div>
    <div class="footer-copyright">
      Copyright © 2020 - 2020 <a href="https://shellduan.github.io">老熊</a> | Powered by <a href="https://hexo.io/zh-cn/docs/">Hexo</a> | Theme <a href="https://github.com/yuang01/theme">Bamboo</a>
    </div>
    <% if(theme.busuanzi.on === true ) { %>
      <%- partial('_partial/busuanzi') %>
    <% } %>
  </div>
</div>
